
.navbar-section{
    max-height:100vh !important;
}
.menue-links-items{
    margin-right: 100px;
}
.nav-wrapper{
    max-width: 100% !important;
    margin: 0 auto !important;
    display: flex !important;
    justify-content: space-between !important;
}
.brand {
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.menue_links_items {
    position: fixed;
    left: 80%;
    display: flex !important;
    top: 5px;
}    
ul li{
    list-style-type: none;
}
.navbar-nav .dropdown-menu {
    width: 5px !important;
}

.dropdown
.main-wrapper{
    max-height: 100vh !important;
    overflow-y: hidden;
}
@media(max-width:992px){
    .brand-name{
        font-size: 14px;
    }  
    .brand .nav-item{
        display: none;
    }
    .navbar-brand{
        font-size: 14px;

    }
    .navbar-toggler-icon{
        width: 15px !important;
        height: 25px !important;
    }
    .menue_links_items {
        position:relative ;
        left: -30px !important;
         display: block !important;
    
    }    
   
}
@media(max-width:650px){
    .brand-name{
        font-size: 13px;
         left: 73px !important;
         right:0 !important;
         white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 68%;
    }
   
}

@media(max-width:400px){
    .brand-name{
        width: 60%;
    }
   
}