
.navbar-section{
    max-height:100vh !important;
}
.menue-links-items{
    margin-right: 100px;
}
.nav-wrapper{
    max-width: 100%;
    margin: 0 auto;
}
.brand {
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.brand-name{
    position: absolute;
    left: 110px;
}
.main-wrapper{
    max-height: 100vh !important;
    overflow-y: hidden;
}
@media(max-width:992px){
    .brand-name{
        display: block;
        font-size: 14px;
    }  
    .brand .nav-item{
        display: none;
    }
    .navbar-brand{
        font-size: 14px;

    }
    .navbar-toggler-icon{
        width: 15px !important;
        height: 25px !important;
    }
    .navbar-light .navbar-toggler {
        background-color: black;
    }
    .navbar-toggler-icon {
        background: white;
    }
}

.navbar_nav{
    display: none;
    top: -35px;
}
@media(max-width:650px){
    .brand-name{
        font-size: 13px;
         left: 73px !important;
         right:0 !important
    }
   
    .navbar-light .navbar-toggler {
        z-index: 999;
    }
  
}